
@import url(utiles/_colors.scss);

@import url(utiles/_mixins.scss);

@import url(components/_header.scss);


@import url(components/_mainpage-sections.scss);

@import url(components/_portfolio-sections.scss);


@import url(components/_footer.scss);

@import url(components/_modal.scss);

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin-top: 0;
    margin-bottom: 0;
}

ul {
    list-style: none;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}

a {
    text-decoration: none;
}

img {
    display: block;
    width: 100%;
    height: auto;
}

body {
    font-family: "Roboto", sans-serif;
    background: #FFFFFF;
    color: #212121;
    letter-spacing: 0.03em;
    margin: 0;
}

.container {
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
}

.section {
    padding-top: 94px;
    padding-bottom: 94px;
}

.title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.1666666667;
    text-align: center;
    letter-spacing: 0.03em;
    color: $primary-text-color;
    margin-bottom: 50px;
}



