/*hero section*/
.hero {
    padding: 200px 0px;
    text-align: center;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero.jpg);
    background-repeat: no-repeat;
    background-position: center;
    margin: 0 auto;
    background-size: cover;


    &__container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

    &__title {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.3636363636;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: $secondary-title-color;
    width: 696px;
    margin-bottom: 30px;
}
}
.heroButton {
    position: relative;
    font-family: "Roboto";
    font-weight: 700;
    font-size: 16px;
    line-height: 1.875;
    color: $secondary-title-color;
    background-color: $accent-color;
    border: none;
    padding: 10px 20px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    transition-duration: $duration;
    transition-timing-function: $timing-function;
    transition-property: color;


    &:hover,
    &:focus {
    color: #4a5964;
    cursor: pointer;
}
}
/*features*/
.features {
    padding-top: 94px;
    padding-bottom: 94px;


    &__list {
        display: flex;
        justify-content: center;
    }

    &__title {
        font-weight: 700;
        font-size: 14px;
        line-height: 1.1428571429;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: $primary-text-color;
        margin-bottom: 10px;
    }

    &__text {
        font-weight: 400;
        font-size: 14px;
        line-height: 1.7142857143;
        letter-spacing: 0.03em;
        color: $secondary-text-color;
    }
}

.featuresTitleHidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    -webkit-clip-path: inset(100%);
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.features__item {
    width: 270px;


    &:not(:last-child) {
        margin-right: 45px;
    }
}

.featuresIconItem {
    padding: 25px 100px;
    background-color: #F5F4FA;
    border-radius: 4px;
    margin-bottom: 30px;


    &:not(:last-child) {
        margin-right: 30px;
    }
}

/*what we do*/
.do {
    padding-top: 0;


    &__list {
        display: flex;
        justify-content: center;
    }

    &__box {
        position: absolute;
        top: 224px;
        width: 370px;
        background: rgba(47, 48, 58, 0.8);
        font-weight: 700;
        font-size: 14px;
        line-height: 1.1428571429;
        text-align: center;
        text-transform: uppercase;
        color: $secondary-title-color;
        padding-top: 27px;
        padding-bottom: 27px;
    }
}

.doItem {
    position: relative;


    &:not(:last-child) {
        margin-right: 30px;
    }
}

/*our team*/
.team {
    background-color: #F5F4FA;


    &__list {
        display: flex;
        justify-content: center;
    }

    &__name {
        font-weight: 500;
        font-size: 16px;
        line-height: 1.1875;
        color: $primary-text-color;
        text-align: center;
        padding-top: 30px;
        margin: 0px;
    }

    &__text {
        font-weight: 400;
        font-size: 16px;
        line-height: 1.1875;
        color: $secondary-text-color;
        text-align: center;
        padding-top: 10px;
        margin-bottom: 10px;
    }
}

.team__item {
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
    background: #FFFFFF;


    &:not(:last-child) {
        margin-right: 30px;
    }
}


.teamIcon__Container {
    padding: 16px 32px 30px 32px;
    margin: 0 auto;
}

.teamIcon__List {
    display: flex;
    justify-content: center;
    align-items: center;
    Width: 206px;
    Height: 44px;
    margin: 0 auto;
}

.teamIcon__item:not(:last-child) {
    margin-right: 10px;
}

.teamSocial__link {
    Width: 44px;
    Height: 44px;
    color: #AFB1B8;
    background-color: $secondary-title-color;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    transition-duration: $duration;
    transition-timing-function: $timing-function;
    transition-property: color, background-color;


    &:hover,
    &:focus {
        color: $secondary-title-color;
        background-color: $accent-color;
    }
}

.teamSocial__svg {
    fill: currentColor;
}

/*Regular Customers section*/
.customer {
    padding-top: 94px;
    padding-bottom: 94px;


    &__container {
        Height: 184px;
    }

    &__list {
        display: flex;
        margin: 0 auto;
    }

    &__item:not(:last-child) {
        margin-right: 30px;
    }

    &__link {
        width: 170px;
        height: 92px;
        color: #AFB1B8;
        background-color: $secondary-title-color;
        display: flex;
        align-items: center;
        justify-content: center;
        border: 1px solid #AFB1B8;
        border-radius: 4px;
    }

    &__link:hover,
    &__link:focus {
        color: $accent-color;
        border-color: $accent-color;
    }

    &__svg {
        fill: currentColor;
        transition-duration: $duration;
        transition-timing-function: $timing-function;
        transition-property: color, border-color;
    }
}